# : comments

# no .a files
*.sqlite3
*.pyc

# but do track lib.a, even though you're ignoring .a files above ex) !lib.a


# only ignore the TODO file in the current directory, not subdir/TODO ex) /TODO


# ignore all files in the build/ directory ex) build/
lgcom/migrations/
myvenv/

# ignore doc/notes.txt, but not doc/server/arch.txt ex) doc/*.txt


# ignore all .pdf files in the doc/ directory ex) doc/**/*.pdf
