{% extends 'lgcom/base_template.html' %}
{% block content %}
	<div class="ipaddress">
		<table class="table-hover -responsive">
			<thead>
				<tr class="tr">
					<th class="th">IP Address</th>
					<th class="th">IP Status</th>
			
				</tr>
				
					
			</thead>
			<tbody>
				{% for ip in iplist %}
					<tr>
						<td>{{ip.ip_address}}</td>
						{% if ip.ip_status == True %}
						<td>Not Available</td>
						{% else %}
						<td>Available</td>
						{% endif %}
					</tr>
					
				{% endfor %}
			</tbody>
			<tfoot>
			
			</tfoot>
			
		</table>
	</div>
{% endblock %}